<!-- Button Set -->
<div 	id			= "toolbar-options-container" 
		class		= "ui controls buttonset" 
>

	<input type="radio" id="toolbar-options-photos" name="toolbar-options" /><label for="toolbar-options-photos">Upload Photos</label>
	
	<input type="radio" id="toolbar-options-items" name="toolbar-options" /><label for="toolbar-options-items">Item History</label>
<!--
	<input type="radio" id="toolbar-options-galleries" name="toolbar-options" /><label for="toolbar-options-galleries">Galleries</label>

	<input type="radio" id="toolbar-options-games" name="toolbar-options" /><label for="toolbar-options-games">Games</label>

	<input type="radio" id="toolbar-options-5" name="toolbar-options" /><label for="toolbar-options-5">Help</label>
-->
	<input type="radio" id="toolbar-options-options" name="toolbar-options" /><label for="toolbar-options-options">Options</label>
<!--
	<input type="radio" id="toolbar-options-style" name="toolbar-options" /><label for="toolbar-options-style">Style</label>
-->
</div>