@import url("../../../UI/plugins/jquery-ui/css/aristo/aristo.css");

/**
 * From Yahoo CSS reset.
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
	
	font-family	: Georgia, "Times New Roman", Times, serif;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
img {
	border: 0px;
}

/**
 *
 * Global styling#69E7FF
 */

body {
 	font-family		: Helvetica, Arial, sans-serif;
	color			: black;
	background		: #ffffff; 
	font-size		: 67%;
	
	opacity			: .0; 					
	filter			: alpha(opacity=0); 	
	-ms-filter		: "alpha(opacity=0)"; 	
	-khtml-opacity	: .0;					
	-moz-opacity	: .0; 			
	
	overflow: hidden;
}

/**
 * LAYOUT. For the most part these are optional, and will change depending on implementation.
 */

		
#layout-header {
	background-color: 	#BEDCE7;
	border-bottom: 		1px solid #4a4a4a;
	margin: 			0px;
}

#layout-header-top {
	height: 	30px;
	padding:	1px 0px 0px 1px;
}

#layout-header-bottom {
	height: 		30px;
	padding-left:	1px;
}

#header-info-top {
	font-size	: 14px;
	color		: black;
	text-align	: right;
}

#header-info-bottom {

}

/**
 *		Footer bar content is wrapped by this element. It is the container for all footer content.
 */
#ui-control-panel {
	float: right;
}

/**	
 *	We add a bottom margin to the main-layout, mainly to accomodate any footer components,
 * 	but a useful margin in general.
 */
#main-layout {
	margin-bottom: 40px;
}

.padding-2px {
    padding: 2px;
}

.padding-1px {
    padding: 1px;
}

/**	
 *	Classes to round corners.  A consistent styling.
 */
.rounded-corners-5 {
	-moz-border-radius		: 5px;
	-webkit-border-radius	: 5px; 
	-o-border-radius:		: 5px;
	border-radius			: 5px; 
}

.rounded-corners-3 {
	-moz-border-radius		: 3px;
	-webkit-border-radius	: 3px; 
	-o-border-radius:		: 3px;
	border-radius			: 3px; 
}


/**
 * Flexible grid.
 */

.grid_1 { width:8.333%; } /* 80 */
.grid_2 { width:16.666%; } /* 160 */
.grid_3 { width:25.00%; } /* 240 */
.grid_4 { width:33.333%; } /* 320 */
.grid_5 { width:41.666%; } /* 400 */
.grid_6 { width:50.00%; } /* 480 */
.grid_7 { width:58.333%; } /* 560 */
.grid_8 { width:66.666%; } /* 640 */
.grid_9 { width:75.00%; } /* 720 */
.grid_10 { width:83.333%; } /* 800 */
.grid_11 { width:91.666%; } /* 880 */
.grid_12 { width:100.00%; } /* 960 */

.column {
	margin: 0 0%;
	overflow: hidden;
	float: left;
}
.row {
	width: 100%;
	margin: 0 0%;
	overflow: hidden;
}
.row-scrolling {
	width: 100%;
	margin: 0 0%;
	overflow: auto;
}
.row .row {
	width: auto;
	margin: 0 0%;
}




/**
 * 	Drag and drop. These are the classes for the drag helper, being switched on and off
 * 	to indicate dropability, etc.
 */
.dragHelper {
	border: 3px red dashed;
	background-color: rgba(255, 255, 255, 0.7);
}

.dragHelperCanDrop {
	border: 3px #33CC66 solid;
}












/**
 *  These are the definitions for the Aristo theme for the Uniform.js jquery plugin.
 *	This is used in conjunction with the jQueryUI Aristo theme, included above.
 */
/*

Uniform Theme: Aristo
Version: 1.0
By: 280North / Ported by Josh Pyles
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

- 	@sandro - the selectors `div.selector` `div.selector span` and `div.selector select` have been
	given hard-coded height values.  This was done to ensure the click region maintained across
	the entire height of the control. This is probably something that should be improved upon,
	made more relative.

*/

/* Global Declaration */

div.selector, 
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
  background-image: url(images/sprite-aristo.png);
  background-repeat: no-repeat;
}

.selector, 
.radio, 
.checker, 
.uploader, 
.selector *, 
.radio *, 
.checker *, 
.uploader *{
	margin: 0;
	padding: 0;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -160px;
  line-height: 32px;
	height: 32px;
}

div.selector span {
  background-position: right 0px;
  height: 32px;
	line-height: 32px;
}

div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

div.selector span {
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



div.selector select {
  	/* change these to adjust positioning of select element */
  	top: 0px;
	left: 0px;
	height: 32px;
}

div.selector:active, 
div.selector.active {
	background-position: -483px -192px;
}

div.selector:active span, 
div.selector.active span {
	background-position: right -32px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
	background-position: -483px -224px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
	background-position: right -64px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
	background-position: -483px -256px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
	background-position: right -96px;
}

div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
	background-position: -483px -288px;
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -128px;
}

/* Checkbox */

div.checker {
  width: 23px;
  height: 23px;
}

div.checker input {
  width: 23px;
  height: 23px;
}

div.checker span {
  background-position: 0px -320px;
  height: 23px;
  width: 23px;
}

div.checker:active span, 
div.checker.active span {
	background-position: -23px -320px;
}

div.checker.focus span,
div.checker:hover span {
	background-position: -46px -320px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
	background-position: -69px -320px;
}

div.checker span.checked {
	background-position: -92px -320px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
	background-position: -115px -320px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
	background-position: -138px -320px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
	background-position: -161px -320px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
	background-position: -184px -320px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
	background-position: -207px -320px;
}

/* radio */

div.radio {
  width: 23px;
  height: 23px;
}

div.radio input {
  width: 23px;
  height: 23px;
}

div.radio span {
  height: 23px;
  width: 23px;
  background-position: 0px -343px;
}

div.radio:active span, 
div.radio.active span {
	background-position: -23px -343px;
}

div.radio.focus span, 
div.radio:hover span {
	background-position: -46px -343px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
	background-position: -69px -343px;
}

div.radio span.checked {
	background-position: -92px -343px;
}

div.radio:active span.checked,
div.radio.active span.checked {
	background-position: -115px -343px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
	background-position: -138px -343px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
	background-position: -161px -343px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
	background-position: -184px -343px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
	background-position: -207px -343px;
}

/* uploader */

div.uploader {
  background-position: 0px -366px;
  height: 32px;
}

div.uploader span.action {
  background-position: right -494px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 4px 0px 4px 4px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -430px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -526px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -558px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -590px;
}

div.uploader.disabled {
  background-position: 0px -398px;
}

 div.uploader.disabled span.action {
  background-position: right -462px;
}

/* PRESENTATION */

/* Select */
div.selector {
  /*margin-bottom: 20px;*/
  width: 190px;
  font-weight: bold;
  color: #464545;
}

div.selector select {
  width: 190px;
  font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border: solid 1px #fff;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #666;
  width: 158px;
  text-shadow: 0 1px 0 #fff;
}

div.selector.disabled span {
	color: #bbb;
}

/* checker */
div.checker {
  margin-right: 10px;
}

/* radio */
div.radio {
  margin-right: 10px;
}

/* uploader */
div.uploader {

  /* @sandro: stretching for our purposes. TODO: parameter. 
  		orig: 190px;
  */
  width: 410px;

  margin-bottom: 20px;
  cursor: pointer;
}

div.uploader span.action {
  width: 83px;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  background-color: #fff;
  font-weight: bold;
  color: #1c4257;
}

div.uploader span.filename {
  color: #777;

  /* @sandro: stretching for our purposes. TODO: parameter. 
  		orig: 82px;
  */
  width: 302px;

  border-right: solid 1px #567c91;
  font-size: 90%;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

 div.uploader.disabled span.action {
  color: #aaa;
}

 div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
  outline: 0;
}

/* Select */

 div.selector {
	position: relative;
	padding-left: 10px;
}

 div.selector span {
	display: block;
	float: left;
}

 div.selector select {
	position: absolute;
	opacity: 0;
}

/* checker */

 div.checker {
	position: relative;
	/* float: left; */
}

 div.checker span {
	display: block;
	float: left;
	text-align: center;
}

div.checker input {
  opacity: 0;
  display: inline-block;
}

/* radio */

div.radio {
	position: relative;
	
	/* float: left; */
}

div.radio span {
	display: block;
	float: left;
	text-align: center;
}

 div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
}

/* uploader */

div.uploader {
  position: relative;
  
 /* float: left; */
 
  overflow: hidden;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 4px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
}








/**
 *	For the timePicker and datePicker controls (via jqueryUI), we are going to add icons to
 * 	the fields.  This is done in the control renderer, and not by the widget.
 */
.component-icon-datePicker {
	width: 32px;
	height: 32px;
	background: url(images/component-icon-datePicker.png) no-repeat left top;
	float: left;
}

.component-icon-timePicker {
	width: 32px;
	height: 32px;
	background: url(images/component-icon-timePicker.png) no-repeat left top;
	float: left;
}





/*********************************************************************************
 *
 *				GUI ICONS
 *
 *********************************************************************************/
 

/**
 * 	When photo thumbnail is used where otherwise icons are.  Note that we expect there
 * 	to be an <img> tag contained in the <div>.
 */
.photo-thumb-icon32 img {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 2px;
}

.photo-thumb-icon32-inline img {
	width: 32px;
	height: 32px;
	display: inline;
}

.photo-thumb-icon16 {
	width: 16px;
	height: 16px;
	float: left;
}
 
.photo-thumb-icon16 img {
	width: 16px;
	height: 16px;
	float: left;
}

.photo-thumb-icon16 div {
	height: 16px;
	float: left;
}
 
.gui-icon {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 2px;
}

.gui-icon-inline {
	width: 16px;
	height: 16px;
	display: inline;
}

.gui-icon-search {
	background: url(images/gui-icon-search.png) no-repeat left top;
}

.gui-icon-searchoptions {
	background: url(images/gui-icon-searchoptions.png) no-repeat left top;
}

.gui-icon-info {
	background: url(images/gui-icon-info.png) no-repeat left top;
}

.gui-icon-error {
	background: url(images/gui-icon-error.png) no-repeat left top;
}

.gui-icon-windows {
	background: url(images/gui-icon-windows.png) no-repeat left top;
}




/*********************************************************************************
 *
 *				SUBITEM TYPES
 *
 *********************************************************************************
 *	Item type (subItemList.item.0.itemType.@key: "thisvalue") icons, used within the 
 * 	gui. NOTE: 16x16
 */
.subitem-type-master-cut {
	background: url(images/subitem-types/master-cut.png) no-repeat left top;
}

.subitem-type-template-aspect-ratio {
	background: url(images/subitem-types/template-aspect-ratio.png) no-repeat left top;
}

.subitem-type-dimension {
	background: url(images/subitem-types/dimension.png) no-repeat left top;
}

.subitem-type-photo {
	background: url(images/subitem-types/photo.png) no-repeat left top;
}


/*********************************************************************************
 *
 *				TYPES
 *
 *********************************************************************************
 *	Item types. Note how there is a 16x16 and a 32x32
 */
 
.item-types32 {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 2px;
}

.item-types32-inline {
	width: 32px;
	height: 32px;
	display: inline;
}

.item-types16 {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 2px;
}

.item-types16-inline {
	width: 16px;
	height: 16px;
	display: inline;
}
 
/*********************************************************************************
 *
 *				32x32
 *
 *********************************************************************************/ 
 
.item-type32-article {
	background: url(images/item-types/32/article.png) no-repeat left top;
}

.item-type32-audio {
	background: url(images/item-types/32/audio.png) no-repeat left top;
}

.item-type32-daily-broadcasts {
	background: url(images/item-types/32/daily-broadcasts.png) no-repeat left top;
}

.item-type32-drawer {
	background: url(images/item-types/32/drawer.png) no-repeat left top;
}

.item-type32-event {
	background: url(images/item-types/32/event.png) no-repeat left top;
}

.item-type32-homepage {
	background: url(images/item-types/32/homepage.png) no-repeat left top;
}

.item-type32-link {
	background: url(images/item-types/32/link.png) no-repeat left top;
}

.item-type32-list {
	background: url(images/item-types/32/list.png) no-repeat left top;
}

.item-type32-mediawall-panel {
	background: url(images/item-types/32/mediawall-panel.png) no-repeat left top;
}

.item-type32-note {
	background: url(images/item-types/32/note.png) no-repeat left top;
}

.item-type32-page {
	background: url(images/item-types/32/page.png) no-repeat left top;
}

.item-type32-photo-asset {
	background: url(images/item-types/32/photo-asset.png) no-repeat left top;
}

.item-type32-photo-gallery {
	background: url(images/item-types/32/photo-gallery.png) no-repeat left top;
}

.item-type32-photo-template {
	background: url(images/item-types/32/photo-template.png) no-repeat left top;
}

.item-type32-pressbox {
	background: url(images/item-types/32/pressbox.png) no-repeat left top;
}

.item-type32-section {
	background: url(images/item-types/32/section.png) no-repeat left top;
}

.item-type32-stylesheet {
	background: url(images/item-types/32/stylesheet.png) no-repeat left top;
}

.item-type32-video-clip-list {
	background: url(images/item-types/32/video-clip-list.png) no-repeat left top;
}

.item-type32-video {
	background: url(images/item-types/32/video.png) no-repeat left top;
}

.item-type32-view {
	background: url(images/item-types/32/view.png) no-repeat left top;
}


/*********************************************************************************
 *
 *				16x16
 *
 *********************************************************************************/


.item-type16-article {
	background: url(images/item-types/16/article.png) no-repeat left top;
}

.item-type16-audio {
	background: url(images/item-types/16/audio.png) no-repeat left top;
}

.item-type16-daily-broadcasts {
	background: url(images/item-types/16/daily-broadcasts.png) no-repeat left top;
}

.item-type16-drawer {
	background: url(images/item-types/16/drawer.png) no-repeat left top;
}

.item-type16-event {
	background: url(images/item-types/16/event.png) no-repeat left top;
}

.item-type16-homepage {
	background: url(images/item-types/16/homepage.png) no-repeat left top;
}

.item-type16-link {
	background: url(images/item-types/16/link.png) no-repeat left top;
}

.item-type16-list {
	background: url(images/item-types/16/list.png) no-repeat left top;
}

.item-type16-mediawall-panel {
	background: url(images/item-types/16/mediawall-panel.png) no-repeat left top;
}

.item-type16-note {
	background: url(images/item-types/16/note.png) no-repeat left top;
}

.item-type16-page {
	background: url(images/item-types/16/page.png) no-repeat left top;
}

.item-type16-photo-asset {
	background: url(images/item-types/16/photo-asset.png) no-repeat left top;
}

.item-type16-photo-gallery {
	background: url(images/item-types/16/photo-gallery.png) no-repeat left top;
}

.item-type16-photo-template {
	background: url(images/item-types/16/photo-template.png) no-repeat left top;
}

.item-type16-pressbox {
	background: url(images/item-types/16/pressbox.png) no-repeat left top;
}

.item-type16-section {
	background: url(images/item-types/16/section.png) no-repeat left top;
}

.item-type16-stylesheet {
	background: url(images/item-types/16/stylesheet.png) no-repeat left top;
}

.item-type16-video-clip-list {
	background: url(images/item-types/16/video-clip-list.png) no-repeat left top;
}

.item-type16-video {
	background: url(images/item-types/16/video.png) no-repeat left top;
}

.item-type16-view {
	background: url(images/item-types/16/view.png) no-repeat left top;
}








/**
 *	Search item icons -- used in search results to demonstrate types.
 */
.sr-icon {
	width: 64px;
	height: 64px;
}

.sr-icon-master-cut {
	background: url(images/sr-icon-master-cut.png) no-repeat left top;
}




/*********************************************************************************
 *
 *				Tooltips.  See /controls/js/controls.js
 *
 *********************************************************************************/

.tooltip {
	display		: none;
	background	: transparent url(images/controls/white_arrow.png);
	font-size	: 12px;
	height		: 70px;
	width		: 160px;
	padding		: 25px;
	color		: black;	
}

.tooltip.bottom {
	background	: url(images/controls/white_arrow_bottom.png);
	padding-top	: 40px;
	height		: 55px;
}




/**
 *	See %notify
 */

#purr-container {
	position: fixed;
	top: 0;
	right: 0;
}
		
.notice {
	position: relative;
	width: 324px;
	z-index: 15000;
}

.notice .close {
	position: absolute; 
	top: 12px; 
	right: 12px; 
	display: block; 
	width: 18px; 
	height: 17px; 
	text-indent: -9999px; 
	background: url(images/purrClose.png) 
	no-repeat 0 10px;
}
		
.notice-body {
	min-height: 50px;
	padding: 22px 22px 0 22px;
	background: url(images/purrTop.png) no-repeat left top;
	color: #f9f9f9;
}

.notice-body img {
	width: 50px; 
	margin: 0 10px 0 0; 
	float: left;
}

.notice-body h3	{
	font-size: 1.2em;
}
			
.notice-body p {
	margin: 5px 0 0 20px; 
	font-size: 1.0em; 
	line-height: 1.4em;
}
		
.notice-bottom {
	height: 22px;
	background: url(images/purrBottom.png) no-repeat left top;
}

.notice-icon {
	width: 32px;
	height: 32px;
	float: left;
}

.notice-icon-info {
	background: url(images/notice-info.png) no-repeat left top;
}

.notice-icon-announce {
	background: url(images/notice-announce.png) no-repeat left top;
}

.notice-icon-saving {
	background: url(images/notice-saving.png) no-repeat left top;
}

.notice-icon-uploading {
	background: url(images/notice-uploading.png) no-repeat left top;
}

.notice-icon-error {
	background: url(images/notice-error.png) no-repeat left top;
}

.notice-icon-help {
	background: url(images/notice-help.png) no-repeat left top;
}

.notice-icon-deleting {
	background: url(images/notice-deleting.png) no-repeat left top;
}

.notice-icon-loading {
	background: url(images/notice-loading.png) no-repeat left top;
}

.notice-icon-alert {
	background: url(images/notice-alert.png) no-repeat left top;
}

.notice-icon-note {
	background: url(images/notice-note.png) no-repeat left top;
}

.notice-icon-publishing {
	background: url(images/notice-publishing.png) no-repeat left top;
}