.ui.components.form
{
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.ui.components.form form
{
	background: #F0F0F0;
	counter-reset: fieldsets;
	padding: 12px;
	width: auto;
}

/*
	See UI/components/form/models/form.js, where this is used to flag fields in forms.
 */
.ui.components.form .flagged {
	background	: #E0D2FF !important;
}

.ui.components.form .pill {
	-moz-border-radius		: 4px;
	-webkit-border-radius	: 4px;
	border-radius			: 4px;
	border					: 1px solid #CAD8F3;
	background				: #D6F6C8;
	padding					: 3px 5px 2px;
	line-height				: 16px;
	width					: auto;
	display					: inline;
	margin-right			: 4px;
	cursor					: pointer;
}

/** This would be the close button on a tagging pill **/
.ui.components.form .pill a
{
	text-decoration: none;
}

.ui.components.form form fieldset
{
	border: none;
	margin-bottom: 10px;
}

.ui.components.form form fieldset:last-of-type { margin-bottom: 0; }

.ui.components.form form legend
{
	color: #384313;
	font-size: 13px;
	font-weight: bold;
	padding-left: 2px;
	padding-bottom: 8px;
}

.ui.components.form form > fieldset > legend:before
{
	content: "" counter(fieldsets) ": ";
	counter-increment: fieldsets;
}


/** 
 *	The idea here is to have <li> elements within forms that desire form field styling
 * 	to declare their intention by setting a .form-item-list class.
 */

.ui.components.form form .form-list-item
{
	background: rgba(255,255,255,.3);
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	list-style: none;
	padding: 4px 8px;
	margin-bottom: 2px;
}

/*	Note that we only want to target labels that are children of <li> elements, as labels
	are also used when defining the radio buttons comprising a buttonset (and likely
	will be used elsewhere.
*/
.ui.components.form form li > label
{
	float: left;
	font-size: 13px;
	width: 140px;
	line-height: 26px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.ui.components.form form fieldset fieldset label
{
	background: none no-repeat left 50%;
	line-height: 24px;
	padding: 0 0 0 30px;
	width: auto;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.ui.components.form form fieldset fieldset label:hover { cursor: pointer; }

.ui.components.form form input:not([type=radio]),
			form textarea
{
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 400px;
}

.ui.components.form form input:not([type=submit]):focus,
				form textarea:focus { background: #ccffcc; }

.ui.components.form form input[type=radio]
{
	float: left;
	margin-right: 5px;
}


