<div class="row">

    <!--    This form is required for the autocomplete widget - you must have a single <form>
            element within this view.
            Note the floated styling.  Should probably move this out.
    -->
    <form style="float:left">
	    <select id="search-component-input"></select>
    </form>

	<div    id          = "search-results-panel" 
			class	    = "ui components slidePanel" 
			offset      = "61" 
			panelWidth  = "right" 
			panelHeight = "#layout-footer" 
			zIndex      = "200" 
			style       = "float: left"
	>
	    <a id="search-results-panel-button" href="#">RESULTS</a>
	    
	    <!--    The slidePanel component requires a <#container> element containing a
	            <#content> element.
	    -->
		<div class="container">
            <div class="content">
            <pre>
                sdfsdfsd
                
                sdaf
                sd
                
                sdaf
                sda
                fs
                
                
                sdaf
                sd
                fds
                sdf
                sd
                fsd
                sdf
                sdf
                
                
                </pre>
            </div>
        </div>
                
	</div>
</div>	
		

			