/*demo page css*/
.demoHeaders { margin-top: 2em; }
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
.columnbox { height: 170px; width: 48%; float:left; margin-right: 1%; }
#eq span { 	height:120px; float:left; margin:15px 	}
